{{!-- Spellbook Navigation --}}
<nav class="sheet-navigation tabs spellbooks" data-group="spellbooks">
  {{#each data.attributes.spells.spellbooks as |spellbook a|}}
    {{#if spellbook.inUse}}
        <a class="item" data-tab="{{a}}">
          {{localize spellbook.label}}
        </a>
    {{/if}}
  {{/each}}
</nav>

<section class="spellbooks-body">
  {{#each spellbookData as |spellbook a|}}
    {{#if spellbook.orig.inUse}}
    <div class="tab spellbook-group flexcol" data-group="spellbooks" data-tab="{{a}}">
    {{~> "modules/pf1-alt-sheet/templates/parts/actor-spellbook.hbs" spellbook=spellbook spellbookIndex=a
        data=../data owner=../owner filters=../filters.spellbook isCharacter=../isCharacter
        spellFailure=../spellFailure hiddenElems=../hiddenElems sourceDetails=../sourceDetails}}
    </div>
    {{/if}}
  {{/each}}
</section>
